body {
    margin: 0;
}

header {
    background-color: #f6f5ef;
    height: 155px; 
    border-top: 2px solid black;
}

.header-container {
    max-width: 1120px;
    margin: auto;
    display: flex;
    position: relative;
}

.logo a {
    background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 130px;
    position: absolute;
    top: 25px;
    left: 10px;
    text-indent: -9999px;
}

.header-1 { 
    display: flex;
    list-style: none;
    font: normal 14px Arial, georgia;
    position: absolute;
    top: 20px;
    right: 50px;
}

.header-1 li {
    height: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-right: #ccbeb9 1px solid;
} 

.header-1 li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-1 :nth-child(4) {
    border: none;
}
.search {
    background: white;
    border-color: lightgray;
    border-radius: 5px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: -20px;
}

.header-2 {
    display: flex;
    list-style: none;
    font: normal 14px Arial, georgia;
    position: absolute;
    top: 80px;
    right: 10px;
}

.header-2 li {
    padding-left: 3rem;
    list-style: none;
} 

.header-2 li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.media-header {
    display: none;
}

.yellow-container {
    background: url('https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_main_bg.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    height: 646px;
    position: relative;
}

.yellow-img-text-group {
    max-width: 1120px;
    margin: auto;
}

.find-text {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 50px;
}

.find-text img {
     max-width: 250px;
     position: relative;
}

.btn-style {
    width: 150px;
    height: 40px;
    font-size: 15px;
    background: none;
    border-radius: 7px;
}

.btn0 {
    color: #d73a7a;
    border: #d73a7a 2px solid;
    /* font-weight: 300; */
    /* animation: fadeIn 6s; */
    position: absolute;
    top: 120%;
    left: 20%;
}
.coffees {
    position: relative;
}
.rollin {
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 90px;
    left: 390px;
    animation: fadeIn 1s;
}

.punch-img {
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    left: 220px;
    margin-top: 22%;
    animation: fadeIn 3s;
}

.pomelo {
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    left: 890px;
    margin-top: 12%;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}

.media-yellow-coffees {
    display: none;
}

@media screen and (max-width: 1230px) {

    .header-container nav {
        margin-right: 5%;
    }
}
@media screen and (max-width: 1220px) {
    .yellow-container {
        height: 58vw;
    }
    .find-text {
        margin-left: 5%;
    }
    .find-text img {
        max-width: 20vw;
        position: relative;
    }

    .btn0 {
        width: 16vw;
        height: 4vw;
        font-size: 0.3 rem;
        position: absolute;
        left: 10%;
    }

    .rollin {
        left: 34%;
        width: 48%;
    }

    .punch-img {
        left: 17vw;
        width: 43.7%;
    }

    .pomelo {
        left: 80%;
        width: 27%;
    } 
} 

@media screen and (max-width: 960px) {
    header {
        height: 80px;
    }
    .logo a {
        width: 50px;
        height: 50px;
        background-size: cover;
        margin-top: -10px;
    }
    .header-container nav {
        display: none;
    }
    .media-header {
        display: inline-block;
        float: right;
        margin-top: 15px;
        margin-right: 0;
    }
    .media-header i {
        padding: 10px;
        cursor: pointer;
    }
    .fa-solid {
        color: #4e443f;
    }
    .btn0 {
        font-size: 0.3rem;
    }

}

@media screen and (max-width: 640px) {
    .media-header {
        margin-right: 30px;
    }
    .yellow-container {
        height: 300vw;
        position: relative;
    }
    .coffees {
        display: none;
    }
    .media-yellow-coffees {
        display: inline-block;
        margin-top: 50%;
        /* margin-left: 30px; */
    }
    .media-yellow-coffees img {
        width: 80%;
        margin-left: 10%;
    }
    .find-text {
        
    }
    .find-text img {
        max-width: 50vw;
        margin-left: 10%;
    }
    .btn0 {
        top: 900%;
        left: 35vw;
        width: 27vw;
        height: 7vw;
        font-size: 3vw;
    }
}