html {
    font-size: 62.5%;
}
body {
    margin: 0;
}

header {
    background-color: #f6f5ef;
    height: 155px; 
    border-top: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header-container {
    max-width: 1120px;
    margin: auto;
    display: flex;
    position: relative;
}

.logo a {
    background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 130px;
    position: absolute;
    top: 25px;
    left: 10px;
    text-indent: -9999px;
}

.header-1 { 
    display: flex;
    list-style: none;
    font: normal 14px Arial, georgia;
    position: absolute;
    top: 20px;
    right: 50px;
}

.header-1 li {
    height: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-right: #ccbeb9 1px solid;
} 

.header-1 li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-1 :nth-child(4) {
    border: none;
}
.search {
    background: white;
    border-color: lightgray;
    border-radius: 5px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: -20px;
}

.header-2 {
    display: flex;
    list-style: none;
    font: normal 14px Arial, georgia;
    position: absolute;
    top: 80px;
    right: 10px;
}

.header-2 li {
    padding-left: 3rem;
    list-style: none;
} 

.header-2 li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.media-header {
    display: none;
}

.yellow-container {
    background: url('https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_main_bg.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 155px;
}

.yellow-img-text-group {
    max-width: 1120px;
    margin: auto;
    position: relative;
}
.coffees {
    /* width: 70vmin; */
    background-color: #4e443f;
    display: block;
}
.find-text {
    position: absolute;
    top: 50px;
}

.btn-style {
    width: 130px;
    height: 40px;
    font-size: 1 rem;
    background: none;
    border-radius: 5px;
}

.btn0 {
    margin-left: 70px;
    color: #d73a7a;
    border: #d73a7a 2px solid;
    /* font-weight: 300; */
    /* animation: fadeIn 6s; */
    position: absolute;
    top: 230px;
    left: 0px;
}

.rollin {
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    position: absolute;
    top: 90px;
    left: 390px;
    animation: fadeIn 1s;
}

.punch-img {
    width: 500px;
    height: 450px;
    object-fit: contain;
    position: absolute;
    top: 0px;
    left: 200px;
    animation: fadeIn 3s;
}

.pomelo {
    width: 350px;
    height: 450px;
    object-fit: contain;
    position: absolute;
    top: 90px;
    left: 850px;
    animation: fadeIn 3s;
}

/* 공지사항 */

.starbuck-notice-container {
    display: flex;
    justify-content: center;
}

.notice {
    width: 100%;
    display: flex;
    height: 62px;
    color: white;
    background-color: black;
    justify-content: space-between;
}

.notice div {
    font-size: 2rem;
    margin-left: 80px;
    margin-top: 15px;
}

.notice-first-show span {
    font-size: 2rem;
    padding-left: 2rem;
}

.notice button {
    margin-right: 30px;
    background: none;
    border: 2px solid white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-top: 12px;
}
.notice-second-show {
    display: none;
}
.fa-plus{
    color: white;
}

.promotion {
    width: 100%;
    background-color: #f6f5ef;
    font-family: 'SuncheonB';
    height: 62px;
    display: flex;

}

.promotion div {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10%;

}

.promotion button {
    margin-top: 12px;
    margin-right: 30px;
    margin-left: 50px;
    background: none;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

@keyframes fadeIn {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}

.media-yellow-coffees {
    display: none;
}

/* 스타벅스 리워드 */

.dark-green {
    background-color: #1E3932;
    width: 100%;
    height: 350px;
    color: white;
}
.dark-green-inner {
    max-width: 80%;
    margin: auto;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.starbucks-rewards {
    width: 200px;
    height: 180px;
    margin-top: 50px;
    margin-right: 30px;
}
.rewards-text {
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
}
.rewards-text span {
    font-weight: bolder;
}
.rewards-text1{
    margin-left: -20px;
}
.list-1 {
    font-size: 1.5vw;
}
.list-1 span {
    font-size: 2vw;
}
.list-2 {
    width: 100%;
    display: flex;
    font-size: 14px;
}
.list-2 div {
    margin-right: 10px;
}
.membership {
    width: 47vw;
}
.membership span {
    font-weight: 900;
}
.membership-br{
    display: none;
}
.sign-login-btn {
    display: flex;
    margin-bottom: 20px;
    margin-right: 20px;
}
.signin {
    background: #00704A;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    outline: none;
    border: none;
    margin-right: 5px;
}
.login {
    background: none;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    border: 3px solid white;
}
.list-3 {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-left: -20px;

}
.list-3 p {
    width: 100%;
    margin-top: 20px;
    /* margin-left: 20px; */
    letter-spacing:-1px;
}
.list-3 span {
    font-weight: 900;
    font-size: 13px;
}
.e-Gift {
    margin-top: 15px;
    width: 250px;
    height: 40px;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 20px;
}
.list-3-br {
    display: none;
}


/* SKY BLUE */

.skyblue {
    background-color: #A7DEF4;
    margin: auto;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    position: relative;
}
.skyblue::before {
    content: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_bean_bg_left.png);
    margin-top: -100px;
}
.skyblue::after {
    content: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_bean_bg_right.png);
    margin-top: 50px;
    margin-left: 700px;
}
.coffee-powder img {
    width: 320px;
    position: absolute;
    top: 100px;
    left: 30%;
} 

.sulawesh {
    width: 700px;
    height: 100px;
    font-size: 30px;
    position: absolute;
    top: 180px;
    left: 50%;
}
.sulawesh span:first-child {
    color: #9894bd;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.sulawesh span:nth-child(2) {
    display: inline-block;
    color: #3c55c5;
    font-family:sans-serif;
    font-weight: 800;
    font-size: 43px;
    margin-top: 8px;
}
.sulawesh div {
    width: 600px;
    color: #3541ab;
    font-family:sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin-top: 17px;
}
.sulawesh-div-br2 {
    display: none;
}
.btn-style {
    width: 180px;
    height: 50px;
    font-size: 20px;
    background: none;
    border-radius: 7px;
}
.btn1 {
    position: absolute;
    top: 400px;
    left: 50%;
    border: 3px solid #0B2A6D;
    /* animation: reverse-slide2 2s ease-out; */
}

/* Indonesia */
.indonesia-img {
    background: linear-gradient(#f0d7ce, #f8f7f6);
    height: 500px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.indonesia-img2 {
    display: none;
}
.indonesia-coffee-img {
    width: 100%;
    height: 500px;
    margin-left: 100px;
    object-fit: cover;
    /* animation: fadeIn 2s ease-out; */
}
.indoneia-font {
    position: absolute;
    top: 120px;
    left: 10%;
}

.btn2 {
    position: absolute;
    top: 550px;
    margin-top: -250px;
    margin-left: 30%;
    border: 3px solid #D4BC58;
    color: #D4BC58;
}

/* Favorite */

.favorite {
    background-image: linear-gradient(to bottom, rgba(37, 35, 35, 0.104), rgb(0, 0, 0) 100%);
    /* 배경사이즈 맞추기  */
    width: 100%;
    height: 850px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 마진 병합으로 인해 over-flow를 줌 */
}
.favorite::before {
    content: "";
    background: fixed url('https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg') no-repeat;
    background-size: cover;
    opacity: 0.89;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.favorite_text {
    /* 왜 여기서 margin-top을 주면 부모 요소가 같이 되지? */
    margin-left: 250px;
    margin-top: 180px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px;
    font-size: 80px;
    color: white;
    text-align: end;
    position: relative;

}
.favorite_text span:first-child {
    text-align: end;
    letter-spacing: 5px;
}
.favorite_text span:nth-child(2) {
    display: block;
    margin-top: -15px;
    font-size: 70px;
    letter-spacing: 3px;
}
.favorite_text span:last-child {
    display: block;
    margin-top: -10px;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 5px;
}

.favorite-detail-text {
    position: relative;
    width: 550px;
    color: white;
    /* margin-left: -50px; */
    margin-top: 30px;   
}
.favorite-detail-text1 {
    font-size: 23px;
    text-align: right;
    line-height: 27px;
}
.favorite-detail-text1 span{
    font-weight: 600;
    font-size: 27px;
}
.favorite-detail-text2 {
    margin-top: 10px;
    font-size: 15px;
    text-align: right;
}
.favorite-detail-text button {
    width: 150px;
    height: 40px;
    font-size: 15px;
}
.btn3 {
    margin-left: 400px;
    margin-top: 30px;
    border: 3px solid white;
    color: white;
}
.yellos {
    width: 100%;
}
.yellow-pics {
    width: 600px;
    height: 400px;
    /* position:absolte에서는 width값이 사라지기 때문에 width:100% 주기! */
    position: absolute;
    top: 150px;
}

/* Reserve(White) */

.reserve {
    height: 400px;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_bg_pc.png) no-repeat;
    overflow: hidden;   
    position: relative;
}
.reserve-group {
    display: flex;
}
.reserve-text {
    width: 600px;
    height: 120px;
    margin: auto;

}
.reserve-pics {
    width: 350px;
    height: 360px;
    margin-right: 20px;
    overflow: hidden;   
}
.btn4 {
    border: 3px solid black;
    width: 150px;
    height: 40px;
    font-size: 15px;
    position: absolute;
    top: 260px;
    right: 60%;
}
.responsive-reserve {
    display: none;
}
/* Store */

.store {
    background: url(https://www.starbucks.co.kr/common/img/main/store_bg.jpg);
    height: 500px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.store-pics img:first-child {
    position: absolute;
    top:400px;
    right: 0;
}
.store-pics img:nth-child(2) {
    position: absolute;
    top:0;
    left: 100px;
}
.store-pics img:nth-child(3) {
    z-index: 1;
    position: absolute;
    top:160px;
    left: 300px;
}
.store-text {
    width: 500px;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.store-text1 {
    font-size: 25px;
    font-weight: 800;
    color: #633c06;
}
.store-text1 span:nth-child(3) {
    font-size: 18px;
    font-weight: 600;
}
.store-text2 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #462b05;

}
.store-text2 span {
    font-size: 16px;
    font-weight: 900;
}
.btn5 {
    margin-top: 30px;
    width: 130px;
    height: 35px;
    border-radius: 3px;
    font-size: 15px;
}

.responsive-store {
    display: none;       
}

/* Footer */

footer {
    background: #2C2A29;
    color: white;
    height: 900px;
}
/* 가운데 정렬이 안됨 ...! */
.info-company {
    max-width: 700px;
    height: 600px;   
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
footer> nav> ul {
    padding: 5rem;
    font-size: 14px;
}
footer p {
    font-size: 16px;
    font-weight: 500;
}
footer nav ul li {
    list-style: none;
}
.personal-info {
    border-top: black 2px solid;
    justify-content: center;
    text-align: center;
}
.personal-ul1 li {
    list-style: none;
    display: inline-block;
    padding-right: 0.3em;
    padding-left: 0.3em;
    font-weight: 500;
    font-size: 13px;
    border-left: 1px solid gray;
}
.personal-ul1 {
    padding: 1em;
    
}
.personal-ul1 li:first-child {
    color: #00b050 !important;
    font-weight: bold;
    border: none;
}

.btn6 {
    color: white;
    border: 2px solid white;
    font-weight: bold;
    width: 130px;
    height: 33px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 10px;
}
.personal-ul2 {
    padding: 2em;
    margin-top: -10px;
}
.personal-ul2 li {
    list-style: none;
    display: inline-block;
    padding-right: 0.3em; 
    padding-left: 0.3em;
    font-weight: 500;
    font-size: 12px;
}
.last-part {
    margin-top: -20px;
    text-align: center;
}
@media screen and (min-width:1024px){
     .find-text img {
        display: block;
        margin-left: 20%;
    }

    .btn0 {
        left: 26%;
    }
    .rollin { 
        top: 100px;
        left: 420px;
        width: 430px;
    } 
    .punch-img {
        top: 140px;
        left: 300px;
        width: 340px;
    }

    .pomelo {
        top: 100px;
        left: 820px;
        width: 220px;
    } 
}
@media screen and (max-width:1024px){
    .find-text img {
        display: block;
        margin-left: 3vw;
        width: 25vw;
    }
    .btn0 {
        top: 18vw;
        width: 130px;
        height: 30px;
        font-size: 1.2vw;
    }
    .rollin { 
        top: 70px;
        left: 40vw;
        width: 40vw;
    } 
    .punch-img {
        top: 12vw;
        left: 27vw;
        width: 35%;
    }

    .pomelo {
        top: 15v;
        left: 75vw;
        width: 20%;
    } 
}
@media screen and (max-width: 1000px) {
    .dark-green {
        height: 500px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }
    .starbucks-rewards {
        width: 230px;
        height: 200px;
        margin-top: 100px;
        margin-left: 50px;
    }
    .rewards-text {
        width: 350px;
        margin-top: 30px;
        margin-left: 50px;
    }
    .rewards-text1 {
        margin-top: -20px;
    }
    .list-1 {
        font-size: 25px;
    }
    .list-1 span {
        display: block;
        font-size: 25px;
    }
    .list-2 {
        width: 100%;
        display: block;
        font-size: 14px;
    }
    .membership {
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .membership-br{
        display: inline;
    }
    .sign-login-btn {
        display: flex;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .sign-login-btn button {
        width: 115px;
    }
    .list-3 {
        font-size: 15px;
        display: block;
        margin-left: -20px;
    }
    .list-3 span {
        font-size: 16px;
    }

    /* skyblue */

    .coffee-powder {
    width: 100px;     
    }
    .coffee-powder img {
        width: 280px;
        margin-top: 20px;
        margin-left: -10px;
    }
    .sulawesh {
        width: 450px;
    }
    .sulawesh span:first-child {
        font-size: 22px;
    }
    .sulawesh span:nth-child(2) {
        font-size: 30px;
    }
    .sulawesh div {
        width: 460px;
        font-size: 20px;
        margin-top: 17px;
    }


}
@media screen and (max-width: 960px) {
    header {
        height: 80px;
    }
    .yellow-container {
        margin-top: 80px;
    }
    .logo a {
        width: 50px;
        height: 50px;
        background-size: cover;
        margin-top: -10px;
    }
    .header-container nav {
        display: none;
    }
    .media-header {
        display: block;
        float: right;
        margin-top: 15px;
        margin-right: 0;
    }
    .media-header i {
        padding: 10px;
        cursor: pointer;
    }
    .media-header i {
        color: #4e443f;
    }


}
@media screen and (max-width: 930px){
    /* Indonesia */

    .indonesia-img {
        display: none;
    }
    .indonesia-img2 {
        display: block;
        position: relative;
    }
    .indonesia-img2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .btn2 {
        position: absolute;
        top: 100%;
        margin-left: -60%;
        border: 3px solid #f0efee;
        color: #e7e6e3;
    }

    /* Favorite */

    .favorite::before {
        content: "";
        background: fixed url('https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg') no-repeat;
        background-size: cover;
        background-position: right;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .favorite_text {
        display: none;
    }
    .favorite-detail-text1 {
        display: none;
    }
    .favorite-detail-text2 {
        display: none;
    }
    .yellow-pics {
         margin-left: -350px;
    }
    .btn3 {
        margin-top: 700px;
    }

    /* Reserve */

    .reserve {
        display: none;
        position: static;

    }
    .responsive-reserve {
        display: block;
        position: relative;
    }
    .responsive-reserve img {
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .btn4 {
        top: 90%;
        left: 40%;
        margin: 0 auto 0 50px;
        position: absolute;
    }

    /* store */

    .original-store {
        display: none;
    }
    .responsive-store {
        display: block;
    }
  
    .store {
        height: 800px;
        overflow: hidden;
        position: relative;
        display: block;
    }
    .store-pics img:first-child {
        position: absolute;
        top:720px;
        right: 1%;
        width: 200px;
    }
    .store-pics img:nth-child(2) {
        position: absolute;
        top:0;
        left: 20%;
    }
    .store-pics img:nth-child(3) {
        position: absolute;
        top:200px;
        left: 50%;
    }
    .responsive-store-font {
        font-size: 29px;
        font-weight: 900;
        color: #472a04;
    }
    .store-text {
        margin: 450px auto 0 auto;
        text-align: center;    
        z-index: 2;
    }
    .store-text1 {
        font-size: 25px;
        font-weight: 800;
        color: #462b05;
    }

    .store-text2 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 500;
        color: #462b05;
    
    }

}
@media screen and (max-width: 900px){
    .rollin {
        top: 80px;
        left: 340px;
        width: 300px;
    }
    .punch-img {
        top: 130px;
        left: 220px;
        width: 280px;
    }
    .pomelo {
        top: 90px;
        left: 610px;
        width: 180px;
    }
    
    /* SKY BLUE */


    .coffee-powder img {
        width: 200px;
        position: absolute;
        top: 150px;
        left: 30%;
    } 

    .sulawesh span:first-child {
        font-size: 20px;
    }
    .sulawesh span:nth-child(2) {
        font-size: 26px;
    }
    .sulawesh div {
        font-size: 15px;
        margin-top: 13px;
    }
    .coffee-pow-message button{
        width: 150px;
        height: 40px;
        font-size: 15px;
        background: none;
        border-radius: 7px;
        margin-top: -50px;
    }



}
@media screen and (max-width: 800px){
    .btn0 {
        margin-left: 22%;
    }
    .rollin {
        top: 100px;
        left: 280px;
        width: 300px;
    }
    .punch-img {
        top: 160px;
        left: 170px;
        width: 270px;
    }
    .pomelo {
        top: 140px;
        left: 550px;
        width: 150px;
    }

    /* dark-green */
    .starbucks-rewards {
        width: 200px;
        height: 180px;
        margin-top: 100px;
        margin-left: 20px;
    }
    .rewards-text {
        margin-top: 30px;
        margin-left: 5px;
        width: 100%;
    }
    .list-3 {
        font-size: 15px;
        display: block;
        margin-left: -20px;
    }
    .list-3 span {
        font-size: 16px;
    }

}
@media screen and (max-width: 700px){
    .btn0 {
        margin-left: 25%;
    }
    .rollin {
        top: 100px;
        left: 220px;
        width: 300px;
    }
    .punch-img {
        top: 160px;
        left: 120px;
        width: 270px;
    }
    .pomelo {
        top: 140px;
        left: 470px;
        width: 150px;
    }
}
@media screen and (max-width: 660px) {
    .starbuck-notice-container {
        display: block;
        justify-content: center;
    }
    .notice-first-show {
        display: none;
    }
    .notice-second-show {
        display: flex;
        
    }
    .notice-second-show i{
        padding-right: 2rem;
        margin-left: -30px;
        margin-top: -3px;
    }
  
    .promotion {
        justify-content: center;
        margin: 0 auto;
    }
    .promotion div {
        margin-top: 2px;
        font-size: 18px;
    }
    .promotion button {
        margin-left: 10px;
    }
    .fa-angle-down {
        font-size: 3vw;
    }

}
@media screen and (max-width: 640px) {
    .yellow-container {
        height: 300vw;
        position: relative;
    }
    .coffees {
        display: none;
    }
    .media-yellow-coffees {
        display: inline-block;
        margin-top: 50%;
    }
    .media-yellow-coffees img {
        width: 80%;
        margin-left: 10%;
    }
    .find-text {
        width: 70%;
        margin-left: -30px;
    }
    .find-text img {
        margin-left: 20%;
        width: 50vw;
    }
    .btn0 {
        left: 40%;
        top: 260vw;
        width: 120px;
    }
    .btn-style {
        font-size: 1.5 rem;
    }

    /* 스타벅스 리워드 */

    .dark-green {
        height: 930px;
    }
    .dark-green-inner { 
        justify-content: center;
        text-align: center;
    }
    .grid-container {
        display: block;
        margin: auto;
    }
    .starbucks-rewards {
        width: 230px;
        height: 200px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .rewards-text {
        width: 100%;
        margin: 30px auto;
    }
    .rewards-text1 {
        margin-top: -20px;
    }
    .list-1 {
        font-size: 20px;
    }
    .list-1 span {
        display: block;
        font-size: 23px;
    }
    .list-2 {
        width: 100%;
        display: block;
        font-size: 14px;
    }
    .membership {
        width: 100%;
        justify-content: center;
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .membership span {
        display: block;
    }
    .membership-br {
        display: none;
    }
    .sign-login-btn {
        display: flex;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .sign-login-btn button {
        width: 300px;
    }
    .list-3 {
        font-size: 15px;
        display: block;
    }
    .list-3 span {
        font-size: 16px;
    }
    .list-3-br {
        display: inline;
    }

    .skyblue {
        height:1000px;
    }
    .coffee-powder img {
        width: 350px;
        margin-left: 30px;
    }
    .sulawesh {
        margin-left: -150px;
        margin-top: 500px;
    }
    .sulawesh span:first-child {
        margin-left: 50px;
        font-size: 27px;
    }
    .sulawesh span:nth-child(2) {
        font-size: 40px;
    }
    .sulawesh div {
        margin-left: -50px;
        text-align: center;
    }
    .sulawesh-div-br {
        display: none;
    }
    .sulawesh-div-br2 {
        display: inline;
    }
    .btn1 {
        margin-top: 500px;
        margin-left: -80px;
    }
}